.tituloPrincipal{
    padding: 20px;
}

.tituloCentralizado{
    text-align: center;
} 

.principal{
    background: #CCCCCC;
    padding: 30px;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: rgb(143, 15, 15);
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

h2{
    text-align: center;
}

.itens{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#foto2{
    width: 50%;
}